.general_form{
    width: 90%;
    height: 60% !important;
    position: relative;
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
    display: flex;
}
.form_image{
    background-image: url(../../../../public/images/form_image.jpg);
    width: 32%;
    background-size: cover;
    margin-left: 3%;
    box-sizing: border-box;
    display: inline-block;

}