.carousel{
    width: 80%;
    display: flex;
    padding-top: 5%;
    margin-left: 10%;
    
}
.crlsImg{
    width: 40%;
    position: relative;
    background-size: cover;
  }
.crlsTxt{
    background-size: contain;
    width: 40%;
    border-radius: 0 5px 5px 0;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}