@import '../../../assets/styles/variables';
.carousel{
    width: 90%;
    display: flex;
    margin-left: 5%;
}

#Imgcrls{
    width: 50%; //для картинок 800x400 
}
#Txtcrls{
    width: 50%; //для картинок 800x400 
}
#txtdiv img{
    position: relative;
}
#txtdiv p{
    position: absolute;
    color: #000000;
    top: 30%;
    transition: 0.4s;
    font-size: 19px;
    text-align: center;
}
#txtdiv p:hover{
    
    color: $premium-color;
}
/*.carousel-root{
    display: block;
    vertical-align: middle;
}
#txtdiv p{
    position: relative;
    z-index: 100;
    color: black
    
}

.carousel{
    width: 80%;
    display: flex;
    padding-top: 5%;
    margin-left: 10%;
    
}
.crlsImg{
    width: 40%;
    position: relative;
    background-size: cover;
  }
.crlsTxt{
    background-size: contain;
    width: 40%;
    border-radius: 0 5px 5px 0;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: inline-block;
    vertical-align: middle;
}*/