#Txtcrls{

    padding: 5% 10% 0 0;
    
    color: black;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#Txtcrls img{
    position: relative;
}
#txtdiv{
    font-size: 14px;
    text-align: center;
}
.carousel-root{
    display: block;
    vertical-align: middle;
}
#txtdiv p{
    position: relative;
    z-index: 100;
    color: black;
}