@import '../../../assets/styles/variables';
.footer{
    width: 100%;
    
    bottom: 0;
    background-color: #fff;
    height: 40%;
    margin-top: 10%;
    color: $general_bg;
    
}
.general_slice{
    display: flex;
    width: 100%;
    height: 80%;
    position: relative;
    //border-bottom: 0.8px  solid;
    //border-color: #b5b3b4;
}
.general_slice::after{
    content: "";
    filter: blur(0.5px);
    width: 90%;
    height: 0.08px;
    background-color: #707070;
    position: absolute;

    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.contacts{
    width: auto ;
    display: inline-block;
    padding-left: 5%;
    padding-top: 3%;
    z-index: 3;
    color: $general_bg;
    position: relative;
    
}
.contacts h1{
    font-weight: 390;
    font-size: 2.1rem;
    transition: 0.9s;
    
}
.general_slice li{
    font-weight: 440;
}
.contacts h1:hover{
    color: $premium-color;
}



.footer_menu{
    width: 100%;
    display: flex;
    position: absolute;
    padding-top: 3%;
    
    font-size: 18px;
    line-height: 1.8;
    
}
ul{
    list-style-type: none;
}
#footer_module{
    position: absolute;
    padding-left: 50%;
    display: inline-block;
    z-index: 1;
    
}
#footer_share{
    position: absolute;
    padding-left: 72%;
    display: inline-block;
}




.minor_slice{
    color: #707070;
    bottom: 0;
    
}
#corparation{
    font-size: 16px;
    display: inline-block;
    position: absolute;
    padding-left: 5%;
    z-index: 2;
    -webkit-background-clip: text;
    background-clip: text;
    
    color: #707070;
    animation: textShine 7s ease-in-out infinite normal;
  -moz-animation: textShine 7s ease-in-out infinite normal;
  -o-animation: textShine 7s ease-in-out infinite normal;
  -webkit-animation: textShine 7s ease-in-out infinite normal;


}
#footer_module a{
    text-decoration: none;
    list-style-type:  none;
    z-index: 11;
    color: $general_bg;
    transition: ease-out 0.5s;
  }
#footer_module a:hover{
    color: #656060;
    filter: brightness(140%);
}
#corparation:hover{
    cursor: pointer;
}
@keyframes textShine {
    50% {
      color: $premium-color;
      filter: brightness(80%);
      
    }
    100% {
      color:#707070 ;
    }
  }

#police_conf{
    display: inline-block;
    font-size: 16px;
    position: absolute;
    padding-left: 50%;
    z-index: 1;
    
    
}
#error_site{
    display: inline-block;
    font-size: 16px;
    padding-left: 72%;
    position: absolute;
}