@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
$default-font:  "Montserrat", sans-serif;
$general_bg: #222222;
/*$minor_bg: ;*/
$premium-color:#af670e; 
$mobile: 480px;
